<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="overflow-x">
    <img src="{{ url_for('static', filename='images/log.png') }}">
    <h3 align="center">蕲太高速蕲春西段墩柱基本信息二维码</h3>
    <table  style="width: 100%; "  cellspacing="0" cellpadding="0">
        <tbody style="max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;">
        <tr style="max-width: 100%; box-sizing: border-box !important; line-height: 30px; word-wrap: break-word !important; "
            class="firstRow">
            <td  style="text-align: center; width: 30%; background: rgb(245, 245, 245); padding: 5px 10px; border: 1px solid rgb(221, 221, 221); font-size: 14px; color: rgb(136, 136, 136); word-break: break-all; box-sizing: border-box !important; word-wrap: break-word !important;">
                建设单位
            </td>
            <td style="width: 100px; max-width: 100%; padding: 5px 10px; border: 1px solid rgb(221, 221, 221); font-size: 14px; color: rgb(33, 33, 33); word-break: break-all; box-sizing: border-box !important; word-wrap: break-word !important; position: relative;">
                {{ form.row.build_company }}
            </td>
        </tr>
        <tr style="max-width: 100%; box-sizing: border-box !important; line-height: 30px; word-wrap: break-word !important; ">
            <td style="text-align: center; width: 30%; background: rgb(245, 245, 245); padding: 5px 10px; border: 1px solid rgb(221, 221, 221); font-size: 14px; color: rgb(136, 136, 136); word-break: break-all; box-sizing: border-box !important; word-wrap: break-word !important;">
                设计单位
            </td>
            <td style="width: 100px; max-width: 100%; padding: 5px 10px; border: 1px solid rgb(221, 221, 221); font-size: 14px; color: rgb(33, 33, 33); word-break: break-all; box-sizing: border-box !important; word-wrap: break-word !important; position: relative;">
                 {{ form.row.design_company }}<br></td>
        </tr>
        <tr style="max-width: 100%; box-sizing: border-box !important; line-height: 30px; word-wrap: break-word !important; ">
            <td style="text-align: center; width: 30%; background: rgb(245, 245, 245); padding: 5px 10px; border: 1px solid rgb(221, 221, 221); font-size: 14px; color: rgb(136, 136, 136); word-break: break-all; box-sizing: border-box !important; word-wrap: break-word !important;">
               监理单位
            </td>
            <td style="width: 100px; max-width: 100%; padding: 5px 10px; border: 1px solid rgb(221, 221, 221); font-size: 14px; color: rgb(33, 33, 33); word-break: break-all; box-sizing: border-box !important; word-wrap: break-word !important; position: relative;">
                {{ form.row.check_company }}
            </td>
        </tr>
        <tr style="max-width: 100%; box-sizing: border-box !important; line-height: 30px; word-wrap: break-word !important; ">
            <td style="text-align: center; width: 30%; background: rgb(245, 245, 245); padding: 5px 10px; border: 1px solid rgb(221, 221, 221); font-size: 14px; color: rgb(136, 136, 136); word-break: break-all; box-sizing: border-box !important; word-wrap: break-word !important;">
               施工单位
            </td>
            <td style="width: 100px; max-width: 100%; padding: 5px 10px; border: 1px solid rgb(221, 221, 221); font-size: 14px; color: rgb(33, 33, 33); word-break: break-all; box-sizing: border-box !important; word-wrap: break-word !important; position: relative;">
               {{ form.row.operation_company }}
            </td>
        </tr>
        <tr style="max-width: 100%; box-sizing: border-box !important; line-height: 30px; word-wrap: break-word !important; ">
            <td style="text-align: center; width: 30%; background: rgb(245, 245, 245); padding: 5px 10px; border: 1px solid rgb(221, 221, 221); font-size: 14px; color: rgb(136, 136, 136); word-break: break-all; box-sizing: border-box !important; word-wrap: break-word !important;">
                工程部位
            </td>
            <td style="width: 100px; max-width: 100%; padding: 5px 10px; border: 1px solid rgb(221, 221, 221); font-size: 14px; color: rgb(33, 33, 33); word-break: break-all; box-sizing: border-box !important; word-wrap: break-word !important; position: relative;">
                <span style="font-family: Arial, sans-serif;">&nbsp;<span style="white-space: normal;"> {{ form.row.program_location }}</span></span>
            </td>
        </tr>
        <tr style="max-width: 100%; box-sizing: border-box !important; line-height: 30px; word-wrap: break-word !important; ">
            <td style="text-align: center; width: 30%; background: rgb(245, 245, 245); padding: 5px 10px; border: 1px solid rgb(221, 221, 221); font-size: 14px; color: rgb(136, 136, 136); word-break: break-all; box-sizing: border-box !important; word-wrap: break-word !important;">
                浇筑日期
            </td>
            <td style="width: 100px; max-width: 100%; padding: 5px 10px; border: 1px solid rgb(221, 221, 221); font-size: 14px; color: rgb(33, 33, 33); word-break: break-all; box-sizing: border-box !important; word-wrap: break-word !important; position: relative;">
                <span style="color: rgb(51, 51, 51); font-family: arial, 宋体, sans-serif; font-size: 14px; text-indent: 28px; white-space: normal;"> {{ form.row.pour_time }}</span>
            </td>
        </tr>
        <tr style="max-width: 100%; box-sizing: border-box !important; line-height: 30px; word-wrap: break-word !important; ">
            <td style="text-align: center; width: 30%; background: rgb(245, 245, 245); padding: 5px 10px; border: 1px solid rgb(221, 221, 221); font-size: 14px; color: rgb(136, 136, 136); word-break: break-all; box-sizing: border-box !important; word-wrap: break-word !important;">
                强度结果
            </td>
            <td style="width: 100px; max-width: 100%; padding: 5px 10px; border: 1px solid rgb(221, 221, 221); font-size: 14px; color: rgb(33, 33, 33); word-break: break-all; box-sizing: border-box !important; word-wrap: break-word !important; position: relative;">
                <span style="color: rgb(51, 51, 51); font-family: arial, 宋体, sans-serif; font-size: 14px; text-indent: 28px; white-space: normal;"> {{ form.row.strength }}</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>